# data
data/
cs_data/
sampled_data/

# logs and results
lightning_logs/
tb_logs/
wandb/

results/
xai_results/
aug_vis/

# notebooks
embedding_vis.ipynb
embeddings_analysis.ipynb
limited_vis.ipynb
random_occlusion_graphs.ipynb
xai_captum.ipynb

# saved models
model_weights/
probing_model_weights/
model_weights_papers/

# pycache and misc
models/__pycache__/
utils/__pycache__/
datasets/__pycache__/
.ipynb_checkpoints/
scripts.txt
embeddings/
libraries/