# data
data/
cs_data/
sampled_data/

# logs and results
lightning_logs/
tb_logs/
wandb/
model_weights/
results/

# notebooks
embedding_vis.ipynb
limited_vis.ipynb

# pycache and misc
models/__pycache__/
utils/__pycache__/
datasets/__pycache__/
.ipynb_checkpoints/
scripts.txt
embeddings/
libraries/